/* ========================================================La Side bar ====================================================================== */
.aside
{
    width: 420px;
    height: 300vh;
    transition: all 0.1s ease;
    /* background-color: #054ac0;    */
}

/* ========================================================La Side bar ====================================================================== */

/*========================================================= Géneralité sur le style de base ================================================= */

.dashContent
{
    width: 100%;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300vh;
    margin-left: 20px;
}
.service,.role,.article
{
    width: 95%;
    margin-top: 15px;
    border: 1px solid black;
}
/*===========================================  style de la bar des ancres =========================================== */
.navAncres
{
    width: 95%;
    min-height: 45px;
    background: #054ac0e9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    margin-top: 15px;
    border-radius: 10px;
}
.navAncres .firstlink,.servicelist .listelmt a
{
    color: white;
    text-decoration: none;
}
.firstLinkSpan
{
    padding-left: 10px;
}
/*===========================================  style de la bar des ancres =========================================== */

/*===========================================  style de la liste de services  ================================================ */

.servicelist
{
    position: absolute;
    background: #054ac0e9;
    list-style-type: none;
    color: white;
    left: 115px;
    top: 50px;
    width: 150px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s ease;
}
.servicelist.appearlist
{
    opacity: 1;
    z-index: 1;
    visibility: visible;
}
.servicelist .listelmt a
{
    text-align: center;
    width: 150px;
    padding-left: 15px;
}

.servicelemt
{
    width: 95%;
    height: 400px;
    border: 1px solid black;
    margin-top:45px;
}
.chevron{
    font-size: 14px;
    
    transition: transform 0.5s ease;
}
.chevron.chevronturn
{
    transform: rotate(90deg);
}

/*===========================================  style de la liste de services  ================================================ */

/*========================================================= Géneralité sur le style de base ================================================= */
