<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../css/error.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="icon"  sizes= "250*250" href="../../public/img/LogoDGitransaparant.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Connexion</title>
</head>
<body class="body">
    <div class="container">
           <h1 class="title">Sign up</h1>
           <form action="" class="formulaire">
                <div class="diverror error">
                    Vos informations sont invalides
                </div>
                <div class="inputicon">
                    <input type="text" name=""  placeholder="Nom">
                    <div class="icon"><i class="fa-solid fa-user"></i></div>
                </div>
                <div class="inputicon">
                    <input type="text" name=""  placeholder="Prenoms">
                    <div class="icon"><i class="fa-solid fa-user"></i></div>
                </div>
                <div class="inputicon">
                    <input type="password" name="" id="firstpass"  placeholder="Mot de passe">
                    <div class="icon">
                        <i class="fa-solid fa-lock one"></i>
                    </div>
                </div>
                <div class="inputicon">
                    <input type="password" name="" id="secondpass" placeholder="Confirmez le mot de passe">
                    <div class="icon">
                        <i class="fa-solid fa-lock two"></i>
                    </div>
                </div>

                <h2 class="useravatar">Avatar d'utilisateur</h2>
                <div class="parentdiv">
                    <div class="inputicon file">
                        <input type="file" name="" id="">
                        <div class="icon"><i class="fa-solid fa-camera"></i></div>
                    </div>
                    <div class="choose">Choisissez une photo</div>
                </div>
                <div class="send">
                    <button type="submit" class="btn">Valider</button>
                    <div class="showpass">Afficher mot de passe</div>
                </div>
           </form>
    </div>
    <script src="../js/signup.js"></script>
</body>
</html>